<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Bootstrap Website Templates">

    <title>WOLOWZ</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../../../assets/css/font-awesome.css">
    <link rel="stylesheet" href="../../../assets/css/simple-line-icons.css">
    <link rel="stylesheet" href="../../../assets/css/jquery.lightbox.min.css">

    <!-- Theme CSS -->
    <link href="../../../assets/css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

</head>

<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="background:white">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><i class="glyphicon glyphicon-align-justify" style="color:black;"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="../../../assets/pic/logo1.png" class="img-responsive"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#page-top">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#buyrate">cryptocurrency</a>
                    </li>
                    <li>
                        <a class="page-scroll" routerLink="/exchange">Exchange </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact us</a>
                    </li>
                    <li>
                        <a class="page-scroll" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Log In</a>
                    </li>  <li>
                          <a class="page-scroll" routerLink="/register"><span class="glyphicon glyphicon-user"></span>&nbsp;Sign up</a>
                      </li>
                </ul>
            </div>
        </div>
    </nav>

     <header class="img-responsive">
        <div class="container" style="height:700px;">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="bwt-header-content">
                        <div class="bwt-header-content-inner">
                          <br><br>
                            <h1 style="color:#fffff;font-size:35px;">ITS NATURAL PHENOMENA EARLY BIRD<br>CATCHES THE WORMSO BE AMONG<br>THE FIRST TO <font style="color:#ba9e18;">REGISTER YOUR PLACE</font></h1>

                            <a routerLink="/register" class="btn btn-box btn-xl page-scroll" style="margin-top:20%;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;REGISTER NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

<!--about-->
<section id="about" class="bwt-about text-left">
<div class="container">
<div class="row">
<div class="col-md-6"><img src="../../../assets/pic/bitcoin-640.png" class="img-responsive" alt=""></div>
<div class="col-md-6">
<h1 class="bwt-section-title text-uppercase" style="color:black;">ABOUT BITCOIN Trade</h1>
<hr>
<h2>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</h2>
<p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Pellentesque in ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
<p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla quis lorem ut libero malesuada feugiat. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur aliquet quam id dui posuere blandit. Donec rutrum congue leo eget malesuada.</p>
</div>
</div>
</div>
</section>
<!--//about-->

<!--Buy Rate-->
<section id="buyrate" class="bwt-buyrate text-center">
<div class="container text-center">
<h2 class="bwt-section-title" style="font-size:50px" >cryptocurrency</h2>
<div class="row">
<div class="col-md-4">
<div class="bdr">
<div class="image"><img src="../../../assets/pic/Bit-logo.png" class="img-responsive" alt="">
<div class="overlay">
<div class="text">BTC</div>
</div>
</div>
</div>
</div>
<div class="col-md-4">
<div class="bdr">
<div class="image"><img src="../../../assets/pic/ETC.png" class="img-responsive" alt="">
  <div class="overlay">
       <div class="text">ETC</div>
  </div>
</div>
</div>
</div>
<div class="col-md-4">
<div class="bdr">
<div class="image"><img src="../../../assets/pic/Ripple-XRP.png" class="img-responsive" alt="">
  <div class="overlay">
       <div class="text">XRP</div>
  </div>
</div>
</div>
</div>
<div class="col-md-4">
<div class="bdr">
<div class="image"><img src="../../../assets/pic/trx.jpg" class="img-responsive" alt="">
  <div class="overlay">
       <div class="text">TRX</div>
  </div>
</div>
</div>
</div>
<div class="col-md-4">
<div class="bdr">
<div class="image"><img src="../../../assets/pic/dgx.png" class="img-responsive" alt="">
  <div class="overlay">
       <div class="text">DGX</div>
  </div>
</div>
</div>
</div>
<div class="col-md-4">
<div class="bdr">
<div class="image"><img src="../../../assets/pic/monow.png" class="img-responsive" alt="">
<div class="overlay">
     <div class="text">XMR</div>
</div>
</div>
</div>
</div>
</div>

</div>
</section>
<!--//Buy Rate-->

<!--contact-->
<section id="contact" class="bwt-contact text-left">
<div class="container text-center">
<h1 class="bwt-section-title text-uppercase" style="color:white;">CONTACT US</h1>
<hr>
<div class="row">
<div class="col-md-4 top-marg">
<input name="" type="text" placeholder="Enter Your Name">
</div>
<div class="col-md-4 top-marg">
<input name="" type="text" placeholder="Enter Your Phone Number">
</div>
<div class="col-md-4 top-marg">
<input name="" type="email" placeholder="Enter Your Email ID">
</div>
<div class="col-md-12 top-marg-2">
<textarea name="" cols="" rows="3" placeholder="Enter Your Message"></textarea>
</div>
<div class="col-md-12 top-marg">
<input name="" type="submit" value="Send Message" style="background:#00115F;">
</div>
</div>
</div>
</section>

<footer class="bwt-footer">
<div class="container text-left">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="icon" style="background:#00115F;"><i class="glyphicon glyphicon-map-marker"></i></div>
      <div class="icon-text">
        <h3>Our Location</h3>
        <p>744 Melrose Street, Walla Walla, WA, Washington, USA
        </p>
      </div>
    </div>
      <div class="col-sm-12 col-md-4 md-top-marg">
        <div class="icon" style="background:#00115F;"><i class="glyphicon glyphicon-phone"></i></div>
        <div class="icon-text">
          <h3>Phone Numbers</h3>
          <p>+1-509-876-7242<br>+1-509-876-7242</p>
        </div>
      </div>
    <div class="col-sm-12 col-md-4 md-top-marg">
      <div class="icon"style="background:#00115F;"><i class="glyphicon glyphicon-envelope"></i></div>
      <div class="icon-text">
        <h3>E-Mail Address</h3>
        <p>info@bitcointrade.com<br>
        sales@bitcointrade.com
        </p>
      </div>
    </div>
  </div>
</div>
  </footer>

  <div class="bwt-footer-copyright">
  <div class="container">
  <div class="row">
  <div class="col-md-6 copyright">
  <div class="left-text">Copyright &copy; Bitcoin Trade 2017. All Rights Reserved</div>
  </div>

  </div>
  </div>
</div>

<!--//contact-->

    <!-- jQuery -->
    <script src="../../../assets/js/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../../../assets/js/bootstrap.min.js"></script>
    <!-- Lightbox JavaScript-->
    <script src="../../../assets/js/jquery.lightbox.min.js"></script>
    <!-- Theme JavaScript -->
    <script src="../../../assets/js/script.js"></script>

</body>
</html>
