<div class="background">
<div id="box" >
  <h2 class="asd" ><img src="../../../assets/pic/logo1.png" class="img-responsive" ></h2>

                                                                <!-- Custom Successs/Error Message -->
  <div class="row show-hide-message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>

                                                                    <!-- Registration Form -->
  <form [formGroup]="form" (submit)="onRegisterSubmit()">
                                                                    <!-- Username Input -->
    <div class="form-group row">
      <div [ngClass]="{'has-error': (form.controls.username.errors && form.controls.username.dirty) || (!usernameValid && form.controls.username.dirty), 'has-success': !form.controls.username.errors && usernameValid}">
      <div class="col-sm-1">  <span class="glyphicon glyphicon-user" style="position:relative;"></span></div>
      <div class="col-sm-11">  <input type="text" name="username" class="form-control" autocomplete="off" placeholder="*Username" formControlName="username" (blur)="checkUsername()"  /></div>

                                                                      <!-- Validation -->
        <ul class="help-block">
          <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">This field is required</li>
          <li *ngIf="form.controls.username.errors?.minlength && form.controls.username.dirty || form.controls.username.errors?.maxlength && form.controls.username.dirty ">Minimum characters: 3, Maximum characters: 15</li>
          <li *ngIf="form.controls.username.errors?.validateUsername && form.controls.username.dirty">Username must not have any special characters</li>
          <li *ngIf="usernameMessage">{{ usernameMessage }}</li>
        </ul>
      </div>
    </div>

                                                                        <!-- Email Input -->
    <div class="form-group row">
      <div [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty) || (!emailValid && form.controls.email.dirty), 'has-success': !form.controls.email.errors && emailValid}">
      <div class="col-sm-1">  <span class="glyphicon glyphicon-envelope" style="position:relative;"></span></div>
      <div class="col-sm-11">  <input type="text" name="email" class="form-control" autocomplete="off" placeholder="*Email" formControlName="email" (blur)="checkEmail()" /></div>
                                                                        <!-- Validation -->
        <ul class="help-block">
          <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required</li>
          <li *ngIf="(form.controls.email.errors?.minlength && form.controls.email.dirty || form.controls.email.errors?.maxlength && form.controls.email.dirty ) && form.controls.email.dirty">Minimum characters: 5, Maximum characters: 30</li>
          <li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">This must be a valid e-mail</li>
          <li *ngIf="emailMessage">{{ emailMessage}}</li>
        </ul>
      </div>
    </div>

                                                                        <!-- Password Input -->
    <div class="form-group row">
      <div [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty), 'has-success': !form.controls.password.errors}">
      <div class="col-sm-1">  <span class="glyphicon glyphicon-lock" style="position:relative;"></span></div>
    <div class="col-sm-11">    <input type="password" name="password" class="form-control" autocomplete="off" placeholder="*Password" formControlName="password" /></div>

                                                                        <!-- Validation -->
        <ul class="help-block">
          <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required</li>
          <li *ngIf="form.controls.password.errors?.minlength && form.controls.password.dirty || form.controls.password.errors?.maxlength && form.controls.password.dirty ">Minimum characters: 8, Maximum characters: 35</li>
          <li *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">Must have at least one uppercase, lowercase, and number</li>
        </ul>
      </div>
    </div>

                                                                  <!-- Confirm Password Input -->
    <div class="form-group row">
      <div [ngClass]="{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty) || (form.errors?.matchingPasswords && form.controls.confirm.dirty), 'has-success': !form.controls.confirm.errors && !form.errors?.matchingPasswords}">
  <div class="col-sm-1">      <span class="glyphicon glyphicon-repeat" style="color:black;"></span></div>
      <div class="col-sm-11">  <input type="password" name="confirm" class="form-control" autocomplete="off" placeholder="*Confirm Password" formControlName="confirm" /></div>

                                                                        <!-- Validation -->
        <ul class="help-block">
          <li *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">This field is required</li>
          <li *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">Password do not match</li>
        </ul>
      </div>
    </div>
    <br>

                                                                      <!-- Submit Input -->
    <input [disabled]="!form.valid || processing || !emailValid || !usernameValid" type="submit" class="btn btn-primary" value="Sign Up" /><br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <font style="color:black">Already a member ? </font><a routerLink="/login">Login</a>
  </form>
</div>
</div>
